[Unit]
Description=ssh jumphost dynamic proxy service
After=%p.socket
Requires=%p.socket

[Service]
Type=exec
Environment=LD_PRELOAD=/usr/local/lib/libsdsock.so
Environment=LIBSDSOCK_MAP=tcp://127.0.0.1:1080=jump.socket
ExecStart=/usr/bin/ssh -o ExitOnForwardFailure=yes -nNTD 127.0.0.1:1080 jump@<server>
